[general]
debug=true
verbose=true
suppress_build_output=false
show_download_progress=true

[environment]
target_architecture=x86_64

[repository]
repositories=git+https://github.com/aleya-dev/aleya-packages.git
package_streams=core,extra,community

[build]
c_flags=-O2 -march=native
cpp_flags=-O2 -march=native
ld_flags=
make_flags=-j16
ninja_flags=-j16
